@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

body {
    font-family: "Permanent Marker", sans-serif;
    height: 100vh;
    background-image: url("./assets/bg.png");
    background-size: cover;
}

header {
  width: 100%;
  background-color: #333;
}

h1 {
    color: #3b3030;
    font-size: 35px;
    text-align: center;
}

#container {
	width: 600px;
	margin: auto;
}

canvas {
	margin-bottom: 40px;
}